<!--Rozhan parandoush,301229984,08/06/2022 -->
<dev>
<main>
   <h1><span lang="en-ca">Background</span></h1>
   <p>I come from Iran ,originally Kurdish <br> Born in 21st May 1992<br>I can speak 4 languages :Kurdish,Arbic,Persian,Turkish</p>
   <h2><span lang="en-ca">Education</span></h2>
   <p>Graduated in Computer Engineering from Payam Noor University(2015)</p>
   <h3><span lang="en-ca">Experiences</span></h3>
   <ul>
       <li><span lang="en-ca">Senior of International Trade Department FanapTech</span></li>
       <li><span lang="en-ca">International Business Development Fanap Payments</span></li>
       <li><span lang="en-ca">Project Coordinator Fanap</span></li>
       <li><span lang="en-ca">Assistant Manager Fanap</span></li>
       <li><span lang="en-ca">Assistant Manager P.O.RAHVAR</span></li>
       <li><a href="https://drive.google.com/file/d/1rNZGbd7YSPIDzoMYYpZ1s0JwqfmN1ZSN/view?usp=sharing">See my resume</a></li>
   </ul>
 </main>
  <aside>
   <figure>
   <img src="./Assets/images/rozh.png" width="300" height="400" alt="">
       <br>Phone: (604) 368-2087
       <br>Email: <a href="mailto:rparando@my.centennialcollege.ca">rparando@my.centennialcollege.ca</a>
   </figure>
 </aside> 
</dev>
</main>