<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="house" content="width=device-width, initial-scale=1.0"> 
<style>
</style> 
<link href="projectstyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
  <header>
    <h1>Contact Us</h1>
  
<main>
    <h2><span lang="en-ca">Contact us for your project</span></h2>
<body>
<div id="allPage">
<header>
<form action="mailto:rparando@my.centennialcollege.ca" method="post">
<fieldset>
<legend>Personal Info:</legend>
			<p>
			<label for="txtFName">First Name:</label><br>
			 <input id="txtFName" name="txtFName" size="25" tabindex="1" type="text" required="required">
			</p>
			<p>
			<label for="txtLName">Last Name:</label><br>
			 <input id="txtLName" name="txtLName" size="25" tabindex="3" type="text" required="required">
		  	</p>
			<p>
			<label for="txtEmail">Email:</label><br>
			 <input id="txtEmail" name="txtEmail" size="25" tabindex="5" type="email" placeholder="someone@someplace.ca" required="required">
			</p>
            <p>
            <label for="txtPhone">Phone:</label><br>
             <input id="txtPhone" name="txtPhone" size="25" tabindex="5" type="char" placeholder="(000)000 0000" required="required">
             </p>
			<p>
			<label for="optHT">Project Scope</label>
			<input id="optC" name="Academic" tabindex="11" type="radio" value="Academic">Academic
			<input id="optH" name="Business" tabindex="13" type="radio" value="Business">Business
            </p>
			<p>
			 
           <p>
			<label for="txtAddCom">Additional Comments:</label><br>
			<textarea id="txtAddCom" cols="50" name="txtAddCom" rows="8" tabindex="37"></textarea>
			</p>  
		
</fieldset>
			<p>
			<input name="btnSubmit" tabindex="39" type="submit" value="Complete Form">
			<input name="btnReset" tabindex="41" type="reset" value="Clear Form">
			</p>
	
		
</form>
</main> 
</header>
<aside class="clearBoth">
    <figure>
    <img src="./Assets/images/rozh.png" width="300" height="400" alt="rozh">
	<br>Phone: (416) 123-4567
	<br>Email: <a href="mailto:rparando@my.centennialcollege.ca">rparando@my.centennialcollege.ca</a>
    </figure>
</aside>
</div>
</body>
</html>


