
<!--Rozhan parandoush,301229984,08/06/2022 --><dev>
    <main>
       <h1><span lang="en-ca">Software Engineer</span></h1>
      <a>Results-oriented Senior of International Trade Department, professional focused on exceeding revenue objectives and driving business growth. Excellent networking and lead development skills.Reliable and adaptable person with an agreeable disposition and a stellar customer service ethic. Adept multitask er with abilities to handle a number of workplace responsibilities with accuracy and efficiency. </a>
       </ul>
     </main>
      <aside>
       <figure>
       <img src="./Assets/images/rozh.png" width="300" height="400" alt="">
           <br>Phone:(604)368-2087
           <br>Email: <a href="mailto:rparando@my.centennialcollege.ca">rparando@my.centennialcollege.ca</a>
       </figure>
     </aside> 
    </dev>
    </main>