
<!--Rozhan parandoush,301229984,08/06/2022 --><dev>
    <main>
        <br><br><br>
       <h1><span lang="en-ca">Project1</span></h1>
       <img src="./Assets/images/1.png" width="300" height="300" alt="">
       <img src="./Assets/images/2.png" width="300" height="300" alt="">
       <img src="./Assets/images/3.png" width="300" height="300" alt="">
       <h2><span lang="en-ca">Project2</span></h2>
       <img src="./Assets/images/4.png" width="300" height="300" alt="">
       <h3><span lang="en-ca">Project3</span></h3>
       <img src="./Assets/images/5.png" width="300" height="300" alt="">
       
     </main>
       
    </dev>
    </main>