<dev>
    <main>
       <h1><span lang="en-ca">Services</span></h1>
      
       <ul>
           <li><span lang="en-ca">Javascript</span></li>
           <li><span lang="en-ca">SQL Data base</span></li>
           <li><span lang="en-ca">C#</span></li>
           <li><span lang="en-ca">Web Interface Design</span></li>
           <li><span lang="en-ca">Software engineering</span></li>
       </ul>
     </main>
      <aside>
       <figure>
       <img src="./Assets/images/rozh.png" width="300" height="400" alt="">
           <br>Phone: (604) 368-2087
           <br>Email: <a href="mailto:rparando@my.centennialcollege.ca">rparando@my.centennialcollege.ca</a>
       </figure>
     </aside> 
    </dev>
    </main>